<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.bike.mapper.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.jc.bike.model.Order" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="orderno" property="orderno" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="shopcartid" property="shopcartid" jdbcType="INTEGER" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="backTime" property="backtime" jdbcType="TIMESTAMP" />
    </resultMap>
  <resultMap id="orderWithShopcart" type="com.jc.bike.model.Order" extends="BaseResultMap">
    <association property="shopcart" javaType="com.jc.bike.model.ShopCart">
        <result column="bname" property="bname"/>
        <result column="bno" property="bno"/>
        <result column="bprice" property="bprice"></result>
        <result column="rentpoint" property="rentpoint"></result>
    </association>
  </resultMap>
    <resultMap id="orderWithUserAndShopcart" type="com.jc.bike.model.Order" extends="BaseResultMap">
        <association property="user" javaType="com.jc.bike.model.User">
            <result column="name" property="name"/>
            <result column="address" property="address"  />
            <result column="phone" property="phone"  />
            <result column="depart" property="depart"/>
        </association>
        <association property="shopcart" javaType="com.jc.bike.model.ShopCart">
            <result column="bname" property="bname"/>
            <result column="bno" property="bno"/>
            <result column="bprice" property="bprice"></result>
            <result column="rentpoint" property="rentpoint"></result>
        </association>
    </resultMap>
    <sql id="Base_Column_List" >
    id, orderno, status, userid, shopcartid, createTime, count, backTime
  </sql>
  <select id="getOrderById" resultMap="orderWithUserAndShopcart">
      SELECT
	u.name,
	u.phone,
	u.depart,
	u.address,
	s.bno,
	s.bname,
	s.bprice,
	s.rentpoint,
	t.`status`,
	t.orderno,
	t.createTime,
	t.count,
	t.id
FROM
	t_order t,
	USER u,
	shopcart s
WHERE
	t.userid = u.id
AND t.shopcartid = s.id
AND t.`status` = #{status} and t.id=#{id,jdbcType=INTEGER};
  </select>
  <select id="getAllOrdersByManagment" resultMap="orderWithUserAndShopcart">
      SELECT
	u.name,
	u.phone,
	u.depart,
	u.address,
	s.bno,
	s.bname,
	s.bprice,
	s.rentpoint,
	t.`status`,
	t.orderno,
	t.createTime,
	t.count,
	t.id
FROM
	t_order t,
	USER u,
	shopcart s
WHERE
	t.userid = u.id
AND t.shopcartid = s.id
AND t.`status` = #{status};
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_order
        where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllOrdersByUserId" resultMap="orderWithShopcart"  parameterType="java.lang.Integer" >
      SELECT t.*,s.bname,s.bno,s.bprice,s.rentpoint FROM t_order t,shopcart s WHERE
	  s.id= t.shopcartid and t.status=#{status} and t.userid=#{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jc.bike.model.Order" >
    insert into t_order (id, orderno, status,
      userid, shopcartid, createTime,
      count, backTime)
    values (#{id,jdbcType=INTEGER}, #{orderno,jdbcType=CHAR}, #{status,jdbcType=INTEGER},
      #{userid,jdbcType=INTEGER}, #{shopcartid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{count,jdbcType=INTEGER}, #{backtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jc.bike.model.Order" >
      insert into t_order
      <trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="id != null" >
              id,
          </if>
          <if test="orderno != null" >
              orderno,
          </if>
          <if test="status != null" >
              status,
          </if>
          <if test="userid != null" >
              userid,
          </if>
          <if test="shopcartid != null" >
              shopcartid,
          </if>
          <if test="createtime != null" >
              createTime,
          </if>
          <if test="count != null" >
              count,
          </if>
          <if test="backtime != null" >
              backTime,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null" >
              #{id,jdbcType=INTEGER},
          </if>
          <if test="orderno != null" >
              #{orderno,jdbcType=CHAR},
          </if>
          <if test="status != null" >
              #{status,jdbcType=INTEGER},
          </if>
          <if test="userid != null" >
              #{userid,jdbcType=INTEGER},
          </if>
          <if test="shopcartid != null" >
              #{shopcartid,jdbcType=INTEGER},
          </if>
          <if test="createtime != null" >
              #{createtime,jdbcType=TIMESTAMP},
          </if>
          <if test="count != null" >
              #{count,jdbcType=INTEGER},
          </if>
          <if test="backtime != null" >
              #{backtime,jdbcType=TIMESTAMP},
          </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jc.bike.model.Order" >
      update t_order
      <set >
          <if test="orderno != null" >
              orderno = #{orderno,jdbcType=CHAR},
          </if>
          <if test="status != null" >
              status = #{status,jdbcType=INTEGER},
          </if>
          <if test="userid != null" >
              userid = #{userid,jdbcType=INTEGER},
          </if>
          <if test="shopcartid != null" >
              shopcartid = #{shopcartid,jdbcType=INTEGER},
          </if>
          <if test="createtime != null" >
              createTime = #{createtime,jdbcType=TIMESTAMP},
          </if>
          <if test="count != null" >
              count = #{count,jdbcType=INTEGER},
          </if>
          <if test="backtime != null" >
              backTime = #{backtime,jdbcType=TIMESTAMP},
          </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jc.bike.model.Order" >
    update t_order
    set orderno = #{orderno,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      shopcartid = #{shopcartid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      backTime = #{backtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteOrderByIds">
    delete from t_order where id in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>
    <update id="acceptOrder" parameterType="com.jc.bike.model.Order" >
        update t_order set status = #{status,jdbcType=INTEGER},backTime = #{backtime,jdbcType=TIMESTAMP} where id =#{id,jdbcType=INTEGER}
    </update>
    <select id="quertCount" parameterType="java.lang.Integer">
        select t.count from t_order t where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>